.ami {
    background-color: black;
    width: 100vh;
    height: 30vh;

    display: flex;
    flex-direction: row;
    border-radius: 2vh;

    gap: 2vh;

    img {
        height: 200px;
        width: 200px;
    }

    .info {
        color: white;
    }
}