/* index.scss - Estilos do componente Cartao */

* {
    
  font-family: 'Arial', sans-serif;
}

.img {
    margin-bottom: 20px;
    img {
        height: 120px;
        width: 120px;
        transition: 1s;

        &:hover {
            transform: scale(1.1);
            transition: 1s;
        }
    }
}

.info {
    h2 {
        transition: 0.5s;
        &:hover {
            transform: scale(1.1);
            transition: 0.5s;
        }
    }
}